<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xcv58.ssh-do</string>
  <key>OnDemand</key>
  <false/>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/ssh</string>
    <string>-C</string>
    <string>-N</string>
    <string>-c</string>
    <string>blowfish</string>
    <string>-o</string>
    <string>ServerAliveInterval=3</string>
    <string>-o</string>
    <string>ExitOnForwardFailure=yes</string>
    <string>doReverse_xcv58</string>
  </array>
  <key>StandardOutPath</key>
  <string>/Users/xcv58/.ssh-do.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/xcv58/.ssh-do.log</string>
</dict>
</plist>
