<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.xcv58.macvim</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/buildMacVim</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/bin:/usr/local/bin:/usr/sbin:/bin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>5</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/xcv58/.macvimBuildLog</string>
    <key>StandardErrorPath</key>
    <string>/Users/xcv58/.macvimBuildLog</string>
  </dict>
</plist>
